
.homeimg {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    height: 500px;
    margin: 20px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    align-items: center;
}

.cardslot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardimg {
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0px 0px;
}
