    :root {
        --bg-color: #F3F0E6;
        --glass-bg: rgba(255, 255, 255, 0.5);
        --glass-border: rgba(255, 255, 255, 0.8);
        --dark-card: #2A2A2A;
        --accent-yellow: #FFD55A;
        --text-main: #333;
        --text-muted: #888;
        --radius-xl: 30px;
        --radius-md: 15px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
        background-color: var(--bg-color);
        background-image: radial-gradient(circle at 10% 10%, #fff 0%, transparent 20%),
            radial-gradient(circle at 90% 90%, #ffeaa7 0%, transparent 20%);
        color: var(--text-main);
        /* padding-top: 10px; */
        min-height: 100vh;
    }

    .container {
        max-width: 1400px;
        margin: 0 auto;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: 280px 1fr 300px;
        gap: 20px;
        margin-top: 20px;
    }

    .glass-panel {
        background: var(--glass-bg);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid var(--glass-border);
        border-radius: var(--radius-xl);
        padding: 20px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.05);
    }

    header {
        position: sticky;
        top: 0;
        display: flex;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 15px;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        background: #fff;
        padding: 8px 20px;
        border-radius: 50px;
    }

    .nav-links a {
        text-decoration: none;
        color: var(--text-main);
        margin: 0 15px;
        font-weight: 500;
    }

    .navline {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .nav-links a.active {
        background: #333333;
        color: #fff;
        padding: 8px 20px;
        border-radius: 50px;
    }

    .btn-logout {
        background: transparent;
        border: 1px solid #ccc;
        padding: 8px 20px;
        border-radius: 50px;
        cursor: pointer;
    }

    .welcome-section h1 {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .stats-row {
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
    }

    .stat-item span {
        display: block;
    }

    .stat-val {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .stat-label {
        font-size: 0.8rem;
        color: var(--text-muted);
    }

    .profile-card {
        height: 283px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: var(--radius-xl);
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 20px;
        color: white;
        margin-bottom: 20px;
    }

    .profile-overlay {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
        padding: 15px;
        border-radius: var(--radius-md);
        width: 100%;
    }

    .menu-list {
        list-style: none;
    }

    .menu-list li {
        padding: 15px 0;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }

    .menu-list li:last-child {
        border-bottom: none;
    }

    .menu-list li:hover {
        font-weight: bold;
    }

    .charts-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    }

    .chart-container {
        height: 180px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 20px;
    }

    .bar-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .bar {
        width: 12px;
        background: #333;
        border-radius: 10px;
        transition: height 0.5s;
        position: relative;
    }

    .bar.low {
        background: var(--accent-yellow);
    }

    .bar-label {
        font-size: 0.7rem;
        color: var(--text-muted);
    }

    .rent-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .circle-progress {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        /* background: conic-gradient(var(--primary) 80%, #eee 0); */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .inner-circle {
        width: 85%;
        height: 85%;
        background: #f9f8f3;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1rem;
    }

    .timeline {
        margin-top: 20px;
        margin-bottom: 30px;
        height: 312px;
    }

    .card-chip {
        font-size: 11px;
        padding: 3px 7px;
        border-radius: 999px;
        border: 1px solid rgba(148, 163, 184, 0.4);
        color: var(--muted);
        height: 25px;
    }


    .timeline-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .timeline-event {
        background: #333;
        color: white;
        padding: 15px;
        border-radius: var(--radius-md);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .timeline-event.light {
        background: white;
        color: #333;
    }

    .top-stats {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .big-num {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1;
    }

    .dark-card {
        background: var(--dark-card);
        color: white;
        border-radius: var(--radius-xl);
        padding: 25px;
        height: 430px;
        display: flex;
        flex-direction: column;
    }

    .dark-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .task-list {
        list-style: none;
        overflow-y: auto;
        flex-grow: 1;
    }

    .task-item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .task-icon {
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }

    .task-info h4 {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .task-info p {
        font-size: 0.7rem;
        opacity: 0.6;
    }

    .approve-btn {
        margin-left: auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #666;
        cursor: pointer;
    }

    .approve-btn.checked {
        background: var(--primary);
        border-color: var(--primary);
    }

    @media (max-width: 1024px) {
        .grid-layout {
            grid-template-columns: 1fr;
        }

        .charts-row {
            grid-template-columns: 1fr;
        }
    }